h1 {
    font-size: 40px;
    font-family: Roboto;
    color: #2c3e50;
    text-align: center;
}

h2 {
    margin-bottom: 10px;
}

h3 {
    color: #03708b;
}

body {
    background-color: #f5f5f5; /* Light background color */
    color: #333; /* Optional: Sets the text color to white for better readability */
}

.card {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.card-title {
    color: #2980b9; /* Primary blue color */
}

.btn-primary {
    background-color: #2980b9; /* Primary blue color */
    border-color: #2980b9;
}

img.profile-img {
    width: 150px;  /* Fixed width */
    height: 150px; /* Fixed height to ensure a perfect circle */
    object-fit: cover; /* Ensures the image covers the area while maintaining aspect ratio */
    border-radius: 50%; /* Makes the image circular */
    border: 3px solid #2980b9; /* Border color and width */
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.main-container {
    width: 100%;
    padding: 5%;
    position: relative;
}

.col-lg-2 {
    padding: 10px; /* Adjust padding as needed */
}

.banner-image {
    width: 100%;
    height: auto; /* Ensures the image maintains its aspect ratio */
    display: block;
    padding: 5px; /* Padding inside the image itself */
    box-sizing: border-box; /* Includes padding in the element's total width and height */
}


#banner-img {
    width: 100%; 
    height: 300px;
    object-fit: cover;
}

.portrait {
    width: 100%;
    height: auto;
    object-fit: cover;
    aspect-ratio: 1 / 4;
}

.custom-container {
    padding-left: 0;
    padding-right: 0;
    margin-left: 0;
    margin-right: 0;
}

.text-left-align {
    text-align: left !important;
}

.container-search {
    display: flex;
    justify-content: center;
    /* padding: 10px; */
}

.search-bar {
    width: 100%;
    max-width: 700px;
    background: rgba(255, 255, 255, 0.2);
    display: flex;
    align-items: center;
    border-radius: 60px;
    padding: 10px 20px;
    backdrop-filter: blur(4px) saturate(180%);
}

.search-bar input {
    background: transparent;
    flex: 1;
    border: 0;
    outline: none;
    padding: 24px 20px;
    font-size: 20px;
    color: #cac7ff;
}

::placeholder {
    color: #cac7ff;
}

.search-bar button img {
    width: 25px;
}

.search-bar button {
    border: 0;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    background: #58629b;
    cursor: pointer;
}