{% extends "base.html" %} {% block title %}Banking System{% endblock %} {% block
custom_styles %}
<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}" />
{% endblock %} {% block content %}

<div class="main-container">
  <div class="heading">
    <h1 class="text-center mt-2 mb-4">VittMitra</h1>
  </div>
  <div class="add_banner">
    <img
      src="{{ banner.url }}"
      class="rounded mx-auto d-block"
      id="banner-img"
      alt="{{ banner.alt }}"
    />
  </div>
  <div class="add_banner">
    <p>{{ contacts }}</p>
  </div>
  <div class="border-bottom" id="about">
    <h2 class="text-center mt-2">About</h2>
    <p class="lead">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim
      veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea
      commodo consequat. Duis aute irure dolor in reprehenderit in voluptate
      velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat
      cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id
      est laborum.
    </p>
  </div>

  <div class="container mt-5">
    <div class="row">
      <div class="col-md-4">
        <div class="card text-center">
          <div class="card-body">
            <img
              src="{{ customer_pic_url }}"
              class="profile-img img-fluid rounded-circle mb-3"
              alt="Customer Photo"
            />
            <h3 class="mt-3">{{ name }}</h3>
            <div class="input-group flex-nowrap justify-content-center">
              <span class="input-group-text" id="addon-wrapping">@</span>
              <input
                type="text"
                class="form-control text-center"
                placeholder="{{ username }}"
                aria-label="Username"
                aria-describedby="addon-wrapping"
                disabled
              />
            </div>
            <hr />
            <p class="text-muted">{{ email }}</p>
            <p>{{ contact_no }}</p>
            <p>{{ address }}</p>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="card mb-3">
          <div class="card-body">
            <h4 class="card-title">Account Details</h4>
            <p><strong>Account Number:</strong> {{ account_number }}</p>
            <p><strong>Account Balance:</strong> ₹{{ acc_balance }}</p>
            <p><strong>DMAT Balance:</strong> ₹{{ dmat_balance }}</p>
          </div>
        </div>
        {% if banner %}
        <div class="card mb-3">
          <img
            src="{{ banner.url }}"
            class="card-img-top"
            alt="{{ banner.alt }}"
          />
        </div>
        {% endif %}
        <div class="card mb-3">
          <div class="card-body">
            <h4 class="card-title">Welcome to VittMitra</h4>
            <p class="lead">
              We are delighted to have you with us. Explore our services and
              offers to make the most out of your banking experience.
            </p>
          </div>
        </div>

        <div class="card mb-3">
          <a href="/loan" class="btn btn-success btn-lg" role="button">
            Personal Lendings
          </a>
        </div>
        <div class="card mb-3">
          <a href="/mortgage" class="btn btn-primary btn-lg" role="button">
            Mortgage
          </a>
        </div>
        <div class="card mb-3">
          <a href="/investment" class="btn btn-warning btn-lg" role="button">
            Investments
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- <div
    class="border-bottom form"
    style="padding-bottom: 12px"
    id="open-account"
  >
    <h2>Open Account</h2>
    <form class="row g-3">
      <div class="col-md-6">
        <label for="inputFirstName" class="form-label">First Name</label>
        <input type="text" class="form-control" id="inputFirstName" />
      </div>
      <div class="col-md-6">
        <label for="inputLastName" class="form-label">Last Name</label>
        <input type="text" class="form-control" id="inputLastName" />
      </div>
      <div class="col-md-6">
        <label for="inputdob" class="form-label">DOB</label>
        <input type="date" class="form-control" id="inputdob" />
      </div>
      <div class="col-md-6">
        <label for="inputMobileNumber" class="form-label">Mobile No.</label>
        <input type="tel" class="form-control" id="inputMobileNumber" />
      </div>
      <div class="col-12">
        <label for="inputAddress" class="form-label">Address</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress"
          placeholder="1234 Main St"
        />
      </div>
      <div class="col-12">
        <label for="inputAddress2" class="form-label">Address 2</label>
        <input
          type="text"
          class="form-control"
          id="inputAddress2"
          placeholder="Apartment, studio, or floor"
        />
      </div>
      <div class="col-md-6">
        <label for="inputCity" class="form-label">City</label>
        <input type="text" class="form-control" id="inputCity" />
      </div>
      <div class="col-md-4">
        <label for="inputState" class="form-label">State</label>
        <select id="inputState" class="form-select">
          <option selected>Choose...</option>
          <option>Jharkhand</option>
          <option>West Bengal</option>
        </select>
      </div>
      <div class="col-md-2">
        <label for="inputZip" class="form-label">Zip</label>
        <input type="text" class="form-control" id="inputZip" />
      </div>
      <div class="col-12">
        <button type="button" class="btn btn-primary btn-lg">
          Open Account
        </button>
      </div>
    </form>
  </div> -->
  <!-- <div
    class="border-bottom form"
    style="padding-bottom: 12px"
    id="open-credit-card"
  >
    <h2>Generate Credit Card</h2>
    <form class="row row-cols-lg-auto g-3 align-items-center">
      <div class="col-12">
        <label class="visually-hidden" for="inlineFormInputGroupUsername"
          >Account Number</label
        >
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            id="inlineFormInputGroupUsername"
            placeholder="Account Number"
          />
        </div>
      </div>

      <div class="col-12">
        <label class="visually-hidden" for="inlineFormInputGroupUsername"
          >Secret Code</label
        >
        <div class="input-group">
          <input
            type="password"
            class="form-control"
            id="inlineFormInputGroupUsername"
            placeholder="Passcode"
          />
        </div>
      </div>

      <div class="col-12">
        <label class="visually-hidden" for="inlineFormInputGroupUsername"
          >DoB</label
        >
        <div class="input-group">
          <input
            type="date"
            class="form-control"
            id="inlineFormInputGroupUsername"
          />
        </div>
      </div>

      <div class="col-12">
        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
      </div>
    </form>
  </div> -->
</div>
{% endblock %}
